{% extends 'base.html' %}
{% block title %}Удалить задачу{% endblock %}
{% block content %}
    <h2>Выберите задачи для удаления:</h2>

    <form action="{% url 'delete_all' %}" method="post">
        {% csrf_token %}
        {% for task in done_tasks %}
            <input type="checkbox" name="task_pks" value="{{ task.pk }}" id="task_{{ task.pk }}" checked>
            <label for="task_{{ task.pk }}">{{ task.name }}</label>
            <br>
        {% endfor %}
        <hr>
        <input type="radio" value="yes" name="delete"> Да<br>
        <input type="radio" value="no" checked name="delete"> Нет<br>
        <br>
        <input class="action" type="submit" value="ПОДТВЕРДИТЬ">
    </form>
{% endblock %}
